# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
.venv/
ENV/
env/

# Environment Variables & Secrets
.env
.env.*
!.env.example
*.pem
*.key

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Databricks & Spark
.databricks/
derby.log
metastore_db/
spark-warehouse/

# Testing & Coverage
.coverage
.coverage.*
.pytest_cache/
htmlcov/
reports/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# Kubernetes / Helm
*.kubeconfig

# Data & Synthetic PDFs (Exclude raw data from Git tracking)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep